*{
    padding:0px;
    margin:0px;
    font-family: Verdana !important;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display:flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 200;
    color: #444444;
    padding: 10px;
}

.FondoBlanco {
    box-shadow: 0 2px 2px #c6c6c6;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.FondoLinea {
    border-right: 1px solid #e2e2e2;
}

.EnlaceBotonVideo {
    text-decoration: none !important;
    font-size: 1.2em;
}


.Banner {
    width: 100%;
    position: relative;
    height: 300px;
}

#Cabecera {
    position: relative;
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    height: 120px;
    width: 160px;
}
#EspacioMenu {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #dedede;
    margin: auto;
    padding: 0;
}
#menu {
    position: relative;
    width: 85%;
    margin: auto;
    color: #000 !important;
}

.RowMenu {
    display: flex;
    height: 100%;
    align-items: center;
}

    .RowMenu li {
        list-style: none;
    }

#menu nav li a {
    color: #000 !important;
    font-weight: bold;
    padding: 12px;
    display: block;
    text-decoration: none;
}
.LTCont {
    text-align: right;
    width: 160px;
    margin-right: 20px;
    overflow: hidden;
}
.menuBTN{
    display: none;
}
@media(max-width: 700px) {
    #Cabecera {        
        height: 120px;
        width: 100%;
        background-color: #ffffff;
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 210px;
        border-bottom: solid 2px #444444;
    }
    #Cabecera h2{
        font-size: 18px;
    }
    #EspacioMenu {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 200;
        background-color: rgba(0,0,0,0.5);        
    }
    #menu {
        width: 80%;
        margin: 0px;
        height: 100vh;
        color: #000 !important;
    }
    .RowMenu {
        display: flex;
        flex-direction: column;
        transition: all 1s ease 0s;
        transform: translateX(-100%);
        background-color: #dedede;
        height: 100vh;
    }
        .RowMenu li{
            width: 100%;
            text-align: left;
        }
    .LTCont {      
        width: 100%;
        margin-right: 0px;
        overflow: hidden;
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuBTN {
        display:block;
    }
}

.Oscuro {
    background-color:  #072857;
    width: 100%;
    position: relative;
}

#EspacioTitulo {
    position: relative;
    width: 85%;
    margin: auto;
    height: 90px;
}

#Logo {
    float: left;
    position: relative;
    height: 90px;
    margin-top: 5px;
}

#OpcionesUsuarios {
    position: relative;
}

.LetraCursiva {
    font-family: 'Lobster', cursive;
    color: #232323;
}


.LogosFooter a{
    margin-left: 20px;
    margin-right: 20px;
}



#Main {
    width: 70%;
    margin: auto;
    min-height: calc(100vh - 300px);
    box-shadow: 0 0 1px 0 #797878;
}
.container {
    min-height: 400px;
    padding-TOP: 20PX;
    padding-bottom: 20px;
    width: 70%;
    margin: auto;
}
@media(max-width: 1600px){
    #Main {
        width: 90%;
    }
    .container {
        width: 90%;
    }
}
@media(max-width: 600px) {
    #Main {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}

#Contenido {
    position: relative;
    width: 70%;
    margin: auto;
    min-height: 400px;
    margin-bottom: 0;
    padding: 5px;
    z-index: 9;
}

#ContentInterior {
    position: relative;
    padding-top: 10px;
    margin-top: 20px;
}

.Ultimos {
    border: 1px solid #dedede!important;
    margin: 5px!important;
    background-color: #f6f7f7!important;
    min-height: 102px!important;
    max-height: 102px!important;
    min-width: 200px!important;
}

.MensajeDiv {
    position: absolute;
    text-align: center;
    color: #fff;
    /*border-radius: 10px;*/
    height: 100%;
    /*max-height: 290px;*/
    /*background-color: #000;
    opacity: .3;*/
    margin: auto;
    width: 600px;
    /*left: 40px;
    top: 30px;*/
    z-index: 10;
}

.Videos {
    position: relative;
    padding: 2px;
    margin: 2px;
}

.Docentes {
    border: 1px solid #e1e1e1;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 2px 4px 0 #e1e1e1;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px 10px;
}

.PieDocente {
    background: #2c539e;
    background: -moz-linear-gradient(top,#2c539e 0%,#2c539e 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c539e),color-stop(100%,#2c539e));
    background: -webkit-linear-gradient(top,#2c539e 0%,#2c539e 100%);
    background: -o-linear-gradient(top,#2c539e 0%,#2c539e 100%);
    background: -ms-linear-gradient(top,#2c539e 0%,#2c539e 100%);
    background: linear-gradient(to bottom,#2c539e 0%,#2c539e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c539e',endColorstr='#2c539e',GradientType=0);
    color: #fff;
    border-radius: 0 0 7px 7px;
    margin-bottom: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: url(/images/mag.png) center center no-repeat #000;
    cursor: pointer;
    height: 174px;
    width: 312px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

    span.rollover:hover {
        opacity: .3;
        -o-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -webkit-transition: -webkit-transform 1s;
        -webkit-box-shadow: 0 0 4px #000;
        -moz-box-shadow: 0 0 4px #000;
        box-shadow: 0 0 4px #000;
    }

#footer {
    width: 100%;
    background-color: #040914;
    margin: auto;
    min-height: 150px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}

#footer0 {
    width: 100%;
    background-color: #141828;
    margin: auto;
    min-height: 300px;
    color: #ebebeb;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.Colaborador1 {
    min-height: 350px;
    width: 100%;
    background-color: white;
}

.Colaborador2 {
    width: 100%;
    background-color: white;
}

.BordeAbajo {
    border-bottom: 1px solid #DDD;
}

.linkfooter {
}

    .linkfooter a {
        font-weight: bold;
        font-size: 1.3em;
        color: white;
        text-decoration: none;
    }

.colorletras {
    color: white !important;
    background-color: white;
}

.colorlogos {
    color: white;
    font-size: 1.3em;
}

.BotonEnlaceLink {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: #2c70c9;
    font-family: arial;
    font-size: 15px;
    font-weight: 700;
    padding: 0;
    text-decoration: none;
}

    .BotonEnlaceLink:hover {
        background-color: transparent;
    }

    .BotonEnlaceLink:active {
        position: relative;
        top: 1px;
    }



.menuyellow {
    border-bottom: 3px solid #e2d70a;
}

    .menuyellow:hover {
        border-bottom: 3px solid #f3f8f8;
    }

.menured {
    border-bottom: 3px solid #f32626;
}

    .menured:hover {
        border-bottom: 3px solid #f3f8f8;
    }

.menublue {
    border-bottom: 3px solid #1897eb;
}

    .menublue:hover {
        border-bottom: 3px solid #f3f8f8;
    }


.menugreen {
    border-bottom: 3px solid #01dc3b;
}

    .menugreen:hover {
        border-bottom: 3px solid #f3f8f8;
    }

.menupurple {
    border-bottom: 3px solid #a855cf;
}

    .menupurple:hover {
        border-bottom: 3px solid #f3f8f8;
    }

.menugray {
    border-bottom: 3px solid #23c6f2;
}

    .menugray:hover {
        border-bottom: 3px solid #f3f8f8;
    }

.menugrenblue {
    border-bottom: 3px solid #ff9ddc;
}

    .menugrenblue:hover {
        border-bottom: 3px solid #f3f8f8;
    }
/**************************Efecto Imagenes*/
