<script type="module">
    import { WRender, WAjaxTools, DomComponent } from "../WDevCore/WModules/WComponentsTools.js";
    import "../WDevCore/WComponents/WSlide.js";
    window.onload = async () => {       
        const ArrayVideos = [];
        var Url = "../api/AdminVideo/PostTakeVideosSlideIndex";
        const response = await WAjaxTools.PostRequest(Url);
        /*for (var k in response.items) {
            var tituloVideo = response.items[k]["snippet"].title;
            var imagen = response.items[k]["snippet"].thumbnails.high.url;
            var options = "?rel=0&showinfo=0&autohide=1";
            var urlVideo = "https://www.youtube.com/embed/" + response.items[k]["id"].videoId + options;
            var fechaVideo = response.items[k]["snippet"].publishedAt;
            ArrayVideos.push({
                title: tituloVideo,
                description: response.items[k]["snippet"].description,
                url: urlVideo,
                image: imagen,
            })
        }*/
        divBanner.append(WRender.createElement({
            type: "w-slide",
            props: {
                slideType: "videos",
                content: response
            }
        }))
    }
</script>
<style type="text/css">
</style>
<div id="divBanner"></div>
<h3 class="h3">CONÓCENOS</h3>
<div class="row">
    <div class="Images">
        <img src="~/images/LOCALIDADES/DSC_0118.JPG" />
        <img width="350" class="img-thumbnail" src="../images/USAV-CarazoB5.jpg" />
        <img width="350" class="img-thumbnail" src="../images/USAV-CarazoB7.jpg" />
        <img src="~/images/LOCALIDADES/DSC_0114.JPG" />
        <img src="~/images/LOCALIDADES/DSC_0119.JPG" />
        <img src="~/images/LOCALIDADES/DSC_0121.JPG" />
    </div>
    <div class="column" style="width: 40%">
        @*<ul class="">
                <h4 class="Subcolormenu"><strong><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Organización</strong></h4>
                <li><a class="decoration" href="../Home/ViewOrganizacion/#Horario"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp Horario de Atención</a></li>
                <li><a class="decoration" href="../Home/ViewOrganizacion/#Estructura"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp Estructura y Organzación</a></li>
                <li><a class="decoration" href="../Home/ViewOrganizacion/#SalaVC"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp Sala de Video Conferencias</a></li>
                <li><a class="decoration" href="../Home/ViewOrganizacion/#SalaG"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp Sala de Grabación y Edición</a></li>
            </ul>*@
        <ul class="rowChild">
            <li>
                <h4 style="padding: 0px" class="Subcolormenu"><strong><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Sobre nosotros</strong></h4>
            </li>
            <li><a class="decoration" href="../Home/ViewQuienSomos"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>¿Quienes somos?</></a></li>
            @*<li><a class="decoration" href="../Home/ViewComoFunciona"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>¿Cómo funciona el portal?</a></li>*@
            <li><a class="decoration" href="../Home/ViewPersonal"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Nuestro personal</a></li>
        </ul>
        <ul class="rowChild">
            <li>
                <h4 style="padding: 0px" class="Subcolormenu"><strong><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Servicios</strong></h4>
            </li>
            <li><a class="decoration" href="../Home/ViewServicios"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Nuestros Servicios</a></li>
        </ul>
        <ul class="rowChild">
            <li>
                <h4 style="padding: 0px" class="Subcolormenu"><strong><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Normativas</strong></h4>
            </li>
            <li><a class="decoration" href="../Home/ViewServicios/#Sala"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>Sala Audiovisual</a></li>
            <li><a class="decoration" href="../Home/ViewServicios/#Normativa"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>Normativa</a></li>

        </ul>
    </div>
</div>


