
@{
    ViewBag.Title = "ViewContactos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">   
<br />
    <h1>Cóntactos USAV-Carazo</h1>
    <hr>    
    <br />
    <div id="divBanner" style="padding: 10px">
      <strong>Personal Coordinador:</strong><br />
            <br />
            <address>
                MSc. Raúl Arévalo Cuadra (Decano)<br />
                Email: decano.farem@unan.edu.ni
                <br />
                Tel: 253320553    IP: 7744
                <br />
                <br />
                Msc. Oscar Ramon Fletes Calderón (Coordinador USAV)
                <br />
                Email: ofletesc@unan.edu.ni
                <br />
                Tel: 25322668 / 25322684   IP: 7701
            </address>
            <br />
            <strong>Personal Responsable:</strong><br />
            <br />
            <address>
                Msc. Wilber Matus(Responsable)
                    <br />
                Email: wmatus@unan.edu.ni
                    <br />
                <br />              
            </address>
            <br /> 
             <h5><strong> Dirección: Salida a San Marcos, Edificio C, Jinotepe, Carazo, Nicaragua. </strong></h5>
            <script type="text/javascript"
                src="http://www.webestools.com/google_map_gen.js?lati=11.851667&long=-86.200965&zoom=17&width=550&height=400&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle=">
            </script>
            <address>
                 Para contactar con la Unidad por correo electrónico, puede hacerlo mediante la dirección: <strong>usav-carazo@unan.edu.ni </strong>  
            </address>   
    </div>
    <div id="divTable"></div>
</div>