
@{
    ViewBag.Title = "ViewReservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="module">
    import { WRender, WAjaxTools, DomComponent } from "../WDevCore/WModules/WComponentsTools.js";
    import "../../WDevCore/WComponents/WTableComponents.js";  
    window.onload = async () => {
        var Url = "../api/AdminCatalog/PostTakeLocalidades";
        const ArrayVideos = [];
        const response = await WAjaxTools.PostRequest(Url);
        response.forEach(function (item) {
            ArrayVideos.push({
                img: item.Pict,
                title: item.DescLocalidades,
                IdLocalidad: item.IdLocalidad,
                //description: item,
                //url: item,
                
            })
        });
        var Config = {
            Datasets: ArrayVideos,
            Options: {
                Search: true,
                UserActions: [{
                    name: "Reservar", Function: (Param) => {
                        window.location = "../Home/ViewCalendario/?IdLocalidad=" + Param.IdLocalidad;
                    }
                }]
            },
            StyleType: "Cards" 
        }
        MainContainer.append(WRender.createElement({
            type: "w-table",
            props: {
                id: "tableReservaciones",
                TableConfig: Config
            }
        }));
    }
</script>
<style>
   /* #Main {
        display: grid;
        grid-template-rows: 50px calc(100% - 50px);
        grid-template-columns: 200px calc(100% - 200px);
    }*/

        #Main h3 {
            text-align: center;
            border-bottom: solid 3px #0852a1;
            line-height: 50px;
        }

        #Main aside {
            background-color: #c7d4eb;
            grid-row: 1/3;
        }

        #Main section {
        }

        #Main #MainContainer {
            padding: 20px;
        }
</style>
<h3>Reservaciones</h3>
<section id="MainContainer">
</section>

