
@{
    ViewBag.Title = "ViewServicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
p{
    padding: 10px;
    text-align: justify;
}
p img{
    margin: 10px;
}
#Sala{
    display: grid;
    grid-template-columns: auto auto;
}
</style>
<div class="" style="padding: 20px">
    <br />
    <h1>Servicios USAV-Carazo</h1>
    <p style="padding: 10px">
        El objetivo de la USAV-Carazo es contribuir a la producción y distribución del conocimiento a través de la creación,
        el desarrollo y la divulgación de material audiovisual y multimedia; y continuar con la cooperación interuniversitaria ya establecida con la FAREM-Carazo de la UNAN-Managua.
    </p>
    <hr>
    <br />
    <div id="Servicios">
        <div><h2>Creación de material multimedia:</h2></div>
        <p style="text-align: left;">
            <img style="float: left;" alt="" src="/images/vector_65_03-128.png">
            Entre los servicios de la USAV-Carazo es brindar&nbsp; espacios organizativos y físicos para la producción y
            divulgación de contenidos educativos audiovisuales. La USAV-Carazo, tiene como principal tarea ayudar a los
            docentes de la facultad a realizar material audiovisual que sirva como complemento a la clase que el&nbsp;
            docente imparte a sus estudiantes.
            <br>
        </p>

        <div><h1><br></h1><h2>Capacitar a docentes y estudiantes:</h2></div>
        <p>
            <img alt="" src="/images/vector_65_01-128.png" align="left">
            Brindar espacios para que estudiantes de las carreras de Licenciatura/Ingeniería
            en Ciencias de la Computación y de Ingeniería en Sistemas de Información, pueden realizar
            pasantías que le permitan adquirir el conocimiento técnico para el desarrollo de productos multimedia y audiovisuales,
            así como la transmisión de radio y televisión a través de la web.  Ademas de Brindar espacios para que estudiantes de
            las carreras de Mercadotecnia, Administración Turística y Hotelera y otras titulaciones afines, realicen prácticas acordes al perfil profesional.
        </p><div>
            <h1><br></h1><h2>Divulgación de Actividades:</h2>
        </div>
        <p>
            <img alt="" src="/images/comment-128.png" align="left">Impulsar la realización grabaciones, ediciones y publicaciones,
            de todas aquellas actividades vinculadas a los tres ejes fundamentales del quehacer universitario: Docencia, Investigación y
            Extensión. Como forma de divulgar el quehacer universitario utilizando las nuevas tecnologías&nbsp; de información para dar a
            conocer a nuestra Facultad.<br>
        </p>
    </div>
    <br>
    <br>
    <div id="Sala">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
    </div>
    <div id="Normativa"></div>
</div>