
@{
    ViewBag.Title = "ViewPersonal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <H2>Personal USAV-Carazo</H2>
</div>

<div class="row">
    <div class="rowChild">
        <div class="">
            <img height="250" class="img-responsive" src="../images/ofletes.png" />
        </div>
        <div class="">
            <h3>Oscar Ramón Fletes Calderón</h3>
            <h4><small>Coordinador de USAV-Carazo</small></h4>
            <p>
                Oscar Ramón es responsable de la coordinación de la USAV-Carazo
                desde el año 2014, en el cual recibió el proyecto  en representación de Facultad
                Farem-Carazo  y su Decanato., he hizo las gestiones para la creación y puesta
                en funcionamiento de la Sala Audiovisual en colaboración con la Universidad
                Carlos Tercero de Madrid (UC3M).
            </p>
            <p>
                Es Licenciado en Ciencias de la Computación y tiene una Maestría en Telecomunicaciones
                y Redes Teleinformáticas, Actualmente desempeña el cargo de Coordinador TIC
                para la Facultad Regional Multidisciplinaria de Carazo y es encargado de
                la administración de las Redes en la Facultad.
            </p>
            <address>
                <strong>Facebook: <a target="_blank" href="https://www.facebook.com/oscarcurc">www.facebook.com/oscarcurc</a></strong><br />
                Teléfono: 2532-0564 / 2532-2684 IP:7701<br />
                Oficina: Torreón Universitario, Sala de Redes, FAREM-Carazo<br />
                E-mail: ofletes@unan.edu.ni
            </address>
        </div>
    </div> 
    <div class="rowChild">
        <div class="">
            <img height="250" class="img-responsive" src="../images/wmatus.png" />
        </div>
        <div class="">
            <h3>Wilber José Matus Gonzáles</h3>
            <h4><small>Responsable Técnico de la Unidad Audiovisual</small></h4>
            <p>
                Wilber Matus es el responsable técnico de la Unidad Audiovisual,
                encargado de configurar y administrar los equípos con que la unidad cuenta. Ademas filma, edita y brinda soporte a las
                actividades que se realizan tanto en la sala audiovisual como en la facultad. Tambien es encargado de la
                producción y postproducción de los materiales audiovisuales.
            </p>
            <p>
                Es Ingeniero en Sistemas de información, ha tenido estudios del manejo de Equipos
                de Audio, Davids Worship,  ha trabajado de Diseñador gráfico y operario de Impresora Digital
                de grandes formatos "Gigantografías". Actualmente estudia la maestría en Métodos
                de investigación científica en la FAREM-Carazo.
            </p>
            <address>
                <strong>Facebook: <a target="_blank" href="https://www.facebook.com/wilberjose.matus">www.facebook.com/wilberjose.matus</a></strong><br />
                Teléfono: 2532-0564 / 2532-2684 IP:7745<br />
                Oficina: Unidad de Servicios Audiovisuales, Edificio Fernando Fernández, FAREM-Carazo<br />
                E-mail: wmatus@unan.edu.ni
            </address>
        </div>

    </div>
</div>

