
@{
    ViewBag.Title = "ViewQuienSomos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
   
        <h2 class="Titulos">Unidad de Servicios Audiovisuales </h2>
        <h3 class="Titulos">¿Quiénes somos?</h3>
        <h4>
            La USAV-Carazo, es la creación de un espacio dentro de la facultad Regional Multidisciplinaria de Carazo (FAREM-Carazo) de la Universidad Nacional Autónoma de Nicaragua, Managua (UNAN-Managua)
            que permita formalizar e  impulsar el proceso de creación de materiales audiovisuales.
        </h4>
</div>
<style>
    .Images {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 100%
    }
        .Images img {
            width: 100%;
        }
        .Images img:first-child {
           grid-row: 1/3;
           grid-column: 1/3;
        }
</style>

<div class="container ">    
    <h5>
        En la USAV, se brinda a los estudiantes la oportunidad de poner en práctica los conocimientos adquiridos en el aula de clases, haciendo uso de las tecnologías de la información y comunicación.<br />
        Además, la Sala de Audiovisuales de la FAREM-Carazo persigue establecerse como una unidad de apoyo a los procesos de extensión y divulgación del quehacer universitario. De esta forma, podemos considerar que el principal objetivo consiste en contribuir a la producción y distribución del conocimiento a través de la creación y distribución de materiales audiovisuales.
        Para alcanzar este objetivo, se deben propone el cumplimiento de los siguientes objetivos específicos:
    </h5>
    <div class="Images">
        <img  src="../images/USAV-CarazoB21.jpg" />
        <img src="~/images/QUIEN_SOMOS/11067455_10206491742955053_8390667232035301431_n.jpg" />
        <img src="~/images/QUIEN_SOMOS/12219558_10208204260526922_3208883323600311016_n.jpg" />
        <img src="~/images/QUIEN_SOMOS/20160614_174003.jpg" />
        <img src="~/images/QUIEN_SOMOS/DSCN0053.jpg" />
        <img src="~/images/QUIEN_SOMOS/DSCN9695.jpg" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <h4>Objetivos de la USAV-Carazo:</h4>
    <ul>
        <li>Brindar espacios organizativos y físicos para la producción y divulgación de contenidos educativos audiovisuales.</li>
        <li>Capacitar a docentes y estudiantes implicados sobre el manejo y mantenimiento de la sala audiovisual de la FAREM-Carazo.</li>
        <li>Capacitar a docentes de la FAREM-Carazo en el diseño y elaboración de micro píldoras educativas.</li>
        <li>Impulsar la realización grabaciones, ediciones y publicaciones, de  todas aquellas actividades vinculadas a los tres ejes fundamentales del quehacer universitario: Docencia, Investigación y Extensión.</li>
        <li>Brindar un espacio para que estudiantes de distintas carreras relacionadas al marketing y la publicidad,  puedan realizar prácticas. </li>
    </ul>
    <br />
    <h5>Entidad Financiadora: Universidad Carlos III de Madrid</h5>
    <h5>Entidades en España: Universidad Carlos III de Madrid / Universidad Rey Juan Carlos / Universidad de Castilla La Mancha</h5>
    <h5>Entidad Socia: Facultad Regional Multidisciplinaria de Carazo (FAREM-Carazo) de la Universidad Nacional Autónoma de Nicaragua, Managua (UNAN-Managua)</h5>
    <h5>Coordinadores en España: Germán Gutiérrez Sánchez / Agapito Ledezma Espino </h5>
    <h5>Coordinador Iberoamérica: María Catalina Tapia.</h5>
    <h5>Fecha Comienzo / Fin: Febrero 2014 - Febrero 2015</h5>
    <div class="Images">
        <img src="~/images/LOCALIDADES/DSC_0118.JPG" />
        <img width="350" class="img-thumbnail" src="../images/USAV-CarazoB5.jpg" />
        <img width="350" class="img-thumbnail" src="../images/USAV-CarazoB7.jpg" />
        <img src="~/images/LOCALIDADES/DSC_0114.JPG" />
        <img src="~/images/LOCALIDADES/DSC_0119.JPG" />
        <img src="~/images/LOCALIDADES/DSC_0121.JPG" />
    </div>
</div>
