
@{
    ViewBag.Title = "ViewCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="module">
    import { WRender, WAjaxTools, DomComponent } from "../../WDevCore/WModules/WComponentsTools.js";
    import "../../WDevCore/WComponents/WTableComponents.js";
    import "../../WDevCore/WComponents/WCalendar.js";
    let params = new URLSearchParams(location.search);
    var idLocalidad = params.get('IdLocalidad');
    //LOAD------------------------------------------------------->
    const Data = new DomComponent();
    window.onload = async () => {
        var Url = "../../api/AdminCatalog/PostTakeLocalidad";       
        const response = await WAjaxTools.PostRequest(Url, { IdLocalidad: idLocalidad });   
        const Datalocalidad = WRender.createElement({
            type: "w-modal-form", props: {
                ObjectDetail: response[0],
                id: "Datalocalidad",
                NoModal: true,
                HeadOptions: false,
                StyleForm: "columnX1",
                UserActions: [{
                    name: "Enviar Reservación", Function: (Param) => {
                        let Blocks = [];                       
                        for (var prop in Data.NavForm) {
                            let Form = Data.NavForm[prop];
                            console.log(Form.selectedItems)
                            Form.selectedItems.forEach(function (item) {
                                Blocks.push({
                                    IdCalendario: item.IdCalendario_hidden
                                });
                            });
                        }                           
                        if (Blocks.length != 0) {
                            console.log(Blocks);

                        } else {
                            console.log("Seleccione Bloques");
                        }
                    }
                }]
            }
        });
        const DetalleBloques = WRender.createElement({
            type: "div", props: { id: "DetalleBloques"}
        });
        MainContainer.append(Datalocalidad);
        MainContainer.append(WRender.createElement({
            type: "w-calendar",
            props: {
                id: "MyCalendar",
                Function: async (Date) => {
                    var Url = "../../api/Reservas/PostTakeBloques";
                    const response = await WAjaxTools.PostRequest(Url,
                        { IdLocalidad: idLocalidad, FechaCalendario: Date }
                    );
                    var Config = {
                        Datasets: response,
                        Options: {
                            Select: true,                           
                        },
                        StyleType: "Cards2-ColumnX2",
                        paginate: false
                    }
                    const TableBlock = {
                        type: "w-table",
                        props: {
                            id: "tableBloques" + Date,
                            class: "DivContainer",
                            TableConfig: Config
                        }
                    }
                    Data.NavigateFunction("tableBloques" + Date, TableBlock, "DetalleBloques");
                }
            }
        }));
        MainContainer.append(DetalleBloques);
    }
</script>
<style>

    #Main h3 {
        text-align: center;
        border-bottom: solid 3px #0852a1;
        line-height: 50px;
    }

    #Main aside {
        background-color: #c7d4eb;
        grid-row: 1/3;
    }

    #MainContainer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
        #MainContainer #Datalocalidad {
            grid-column: 1/1;
        }
        #MainContainer #MyCalendar {
            grid-column: 1/1;
        }
        #MainContainer #DetalleBloques {
            grid-column: 2;
            grid-row: 1/5;
        }
        @@media(max-width: 800px) {
            #MainContainer{
                display: grid;
                grid-template-columns: 100%;
            }
                #MainContainer #Datalocalidad {
                    grid-column: auto / auto;
                }
                #MainContainer #DetalleBloques {
                    grid-column: 1;
                    grid-row: auto;
                }
        }

</style>
<h3>Reservaciones</h3>
<section id="MainContainer">

</section>

